.next-state-btn {
	position: absolute;
	left: 8%;
	width: 200px;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1600));
}

.arm_button {
	position: absolute;
	left: 21%;
	width: 200px;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1600));
}

.ac2_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.49);
	left: 93%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}
.pbv1_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.175);
	left: 40%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pbv2_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.22);
	left: 40%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pbv3_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.265);
	left: 40%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pbv4_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.31);
	left: 40%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pbv5_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.35);
	left: 40%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pbv6_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.46);
	left: 59%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol5_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.382);
	left: 81.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol6_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.417);
	left: 81.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol7_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.458);
	left: 81.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol8a_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.497);
	left: 81.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol8b_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.54);
	left: 81.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.nos1_tare_button {
	position: absolute;
	top: calc(var(--container-width) * 0.06);
	left: 10%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
}

.nos1_cal_button {
	position: absolute;
	top: calc(var(--container-width) * 0.08);
	left: 10%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
}

.nos2_tare_button {
	color: #04aa6d;
	position: absolute;
	top: calc(var(--container-width) * 0.362);
	left: 10.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
}

.nos2_cal_button {
	color: #04aa6d;
	position: absolute;
	top: calc(var(--container-width) * 0.382);
	left: 10.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
}

.tc1 {
	position: absolute;
	top: calc(var(--container-width) * 0.211);
	left: 18.3%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.tc2 {
	position: absolute;
	top: calc(var(--container-width) * 0.385);
	left: 20.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.tc3 {
	position: absolute;
	top: calc(var(--container-width) * 0.115);
	left: 94%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.tc4 {
	position: absolute;
	top: calc(var(--container-width) * 0.324);
	left: 94%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.tc5 {
	position: absolute;
	top: calc(var(--container-width) * 0.432);
	left: 93.7%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.nos1 {
	position: absolute;
	top: calc(var(--container-width) * 0.12);
	left: 14.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.nos2 {
	position: absolute;
	top: calc(var(--container-width) * 0.42);
	left: 14.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt1_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.14);
	left: 18.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt2_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.227);
	left: 24.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt3_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.315);
	left: 21%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt4_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.31);
	left: 52%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt5_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.31);
	left: 66%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.system_state {
	position: absolute;
	top: calc(var(--container-width) * 0.12);
	left: 60%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 12px;
}

.timer_state {
	position: absolute;
	top: calc(var(--container-width) * 0.15);
	left: 60%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 12px;
}

.timer_period {
	position: absolute;
	top: calc(var(--container-width) * 0.18);
	left: 60%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 12px;
}

.timer_remaining {
	position: absolute;
	top: calc(var(--container-width) * 0.21);
	left: 60%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 12px;
}

.outdated {
	color: #d4163c;
}

.box1_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.48);
	left: 13.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.box2_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.5);
	left: 13.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}
