.next-state-btn {
	position: absolute;
	left: 8%;
	width: 200px;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1600));
}

.arm_button {
	position: absolute;
	left: 21%;
	width: 200px;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1600));
}

.ac2_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.473);
	left: 75%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}
.pv1_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.19);
	left: 26%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pv2_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.233);
	left: 26%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pv3_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.275);
	left: 26%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pv4_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.319);
	left: 25.7%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pv5_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.362);
	left: 25.7%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pv6_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.455);
	left: 42.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pv7_display{
	position: absolute;
	top: calc(var(--container-width) * 0.31);
	left: 38%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.pv8_display{
	position: absolute;
	top: calc(var(--container-width) * 0.31);
	left: 45%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol5_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.382);
	left: 60.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol6_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.419);
	left: 60.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol7_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.458);
	left: 60.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol8a_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.497);
	left: 60.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.sol8b_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.535);
	left: 60.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.nos1_tare_button {
	position: absolute;
	top: calc(var(--container-width) * 0.08);
	left: 9%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
}

.nos1_cal_button {
	position: absolute;
	top: calc(var(--container-width) * 0.1);
	left: 9%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
}

.nos2_tare_button {
	color: #04aa6d;
	position: absolute;
	top: calc(var(--container-width) * 0.43);
	left: 9%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
}

.nos2_cal_button {
	color: #04aa6d;
	position: absolute;
	top: calc(var(--container-width) * 0.45);
	left: 9%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
}

.tc1 {
	position: absolute;
	top: calc(var(--container-width) * 0.221);
	left: 9.2%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.tc2 {
	position: absolute;
	top: calc(var(--container-width) * 0.393);
	left: 9.26%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.tc3 {
	position: absolute;
	top: calc(var(--container-width) * 0.12);
	left: 71.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.tc4 {
	position: absolute;
	top: calc(var(--container-width) * 0.323);
	left: 71.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.tc5 {
	position: absolute;
	top: calc(var(--container-width) * 0.422);
	left: 72.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.tc6 {
	position: absolute;
	top: calc(var(--container-width) * 0.385);
	left: 93.8%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.nos1 {
	position: absolute;
	top: calc(var(--container-width) * 0.097);
	left: 5.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.nos2 {
	position: absolute;
	top: calc(var(--container-width) * 0.446);
	left: 5.2%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt1_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.151);
	left: 9.35%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt2_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.236);
	left: 12.8%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt3_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.322);
	left: 9.3%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt4_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.393);
	left: 32.8%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt5_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.322);
	left: 52.3%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt6_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.143);
	left: 91.2%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt7_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.385);
	left: 88.6%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.pt8_pressure {
	position: absolute;
	top: calc(var(--container-width) * 0.43);
	left: 91.4%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.system_state {
	position: absolute;
	top: calc(var(--container-width) * 0.502);
	left: 30%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 12px;
}

.timer_state {
	position: absolute;
	top: calc(var(--container-width) * 0.515);
	left: 30%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 12px;
}

.timer_period {
	position: absolute;
	top: calc(var(--container-width) * 0.529);
	left: 30%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 12px;
}

.timer_remaining {
	position: absolute;
	top: calc(var(--container-width) * 0.542);
	left: 30%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 12px;
}

.outdated {
	color: #d4163c;
}

.box1_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.48);
	left: 13.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.box2_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.5);
	left: 13.5%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

.mev_status {
	position: absolute;
	top: calc(var(--container-width) * 0.109);
	left: 91%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.battery_voltage {
	position: absolute;
	top: calc(var(--container-width) * 0.09);
	left: 91%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1500));
	font-size: 14px;
}

.power_source_slider {
	position: absolute;
	top: calc(var(--container-width) * 0.066);
	left: 93.4%;
	transform: translate(-50%, -50%) scale(calc(var(--container-width-unitless) / 1900));
	font-size: 16px;
}

